body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#navigation-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(124, 124, 190);
  color: white;
  border-bottom: 1px solid blue;
}

#logo {
  margin-top: 0;
}

#logo-luas {
  margin-top: 0;
}

#logo-keliling {
  margin-top: 0;
}

.navigation > a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

/* INPUT SECTION */

.input-luas-section {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.input-keliling-section {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

label {
  margin-bottom: 4px;
  font-weight: bold;
}

label > input-tinggi {
}

.katik-input {
  outline: none;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid blueviolet;
}

.katik-input:focus {
  border: 1px solid red;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  align-self: center;
  gap: 20px;
  margin-top: 10px;
}

button {
  background-color: rgb(242, 4, 242);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(164, 9, 164);
}

button:active {
  background-color: rgb(84, 4, 84);
  transform: translateY(2px);
}
